body{
        font-family: "Courier New";
	margin:0;
	padding:0;
	background:url(../img/binary.jpg);
	background-size: cover;
        font-family: "Courier New";
}

h2:after{
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: blink .9s infinite;
}


@keyframes blink{
	
	0%,100%{
		opacity:1;
	}

	50%{
		opacity: 0;
	}
	
}