/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/07/2019, 14:34:15
    Author     : Junior
*/

.background{
    background-image: url(../img/binary.jpg);
}

.text-light{
    color: white;
}

.text-black{
    color: black;
}

.bg-black{
    background-color: black;
}

.margin-login{
    margin-top: 9%;
    margin-bottom: 10%;
}

.home{
    margin-top: 2%;
}

.btn-lg{
    border: 0px;
}

.card{
    min-width: 474px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-tabs .nav-link{
    border:none;
    color: #818182;
}
