<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>util.AuthenFilter</filter-class>
        <init-param>
            <param-name>role</param-name>
            <param-value>123</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/usuario/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>QuestaoServlet</servlet-name>
        <servlet-class>servlet.QuestaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivadoServlet</servlet-name>
        <servlet-class>servlet.PrivadoServlet</servlet-class>
    </servlet>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>/home/eddunic/Área de Trabalho</param-value>
    </context-param>
    <servlet>
        <servlet-name>SubmissaoServlet</servlet-name>
        <servlet-class>servlet.SubmissaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questao2Servlet</servlet-name>
        <servlet-class>servlet.Questao2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestaoEditarServlet</servlet-name>
        <servlet-class>servlet.QuestaoEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreencheBanco</servlet-name>
        <servlet-class>PreencheBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissaoPublicoServlet</servlet-name>
        <servlet-class>servlet.SubmissaoPublicoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestaoServlet</servlet-name>
        <url-pattern>/QuestaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivadoServlet</servlet-name>
        <url-pattern>/PrivadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissaoServlet</servlet-name>
        <url-pattern>/SubmissaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questao2Servlet</servlet-name>
        <url-pattern>/Questao2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestaoEditarServlet</servlet-name>
        <url-pattern>/QuestaoEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreencheBanco</servlet-name>
        <url-pattern>/PreencheBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissaoPublicoServlet</servlet-name>
        <url-pattern>/SubmissaoPublicoServlet</url-pattern>
    </servlet-mapping>
</web-app>
